form(action=(arcadeGame ? '/arcadeGames/update' : '/arcadeGames'), method="POST")
  if arcadeGame
    input(type="hidden", name="id", value=arcadeGame.id)

  .form-group
    label Title
    input.form-control(name="arcadeGame[title]", required, value=(arcadeGame ? arcadeGame.title : null))

  .form-group
    label Rating
    input.form-control(name="arcadeGame[rating]", required, value=(arcadeGame ? arcadeGame.rating : null))

  .form-group
    label Description
    textarea.form-control(name="arcadeGame[description]")
      = arcadeGame ? arcadeGame.description : null

  .form-group
    label Status
    select.form-control(name="arcadeGame[genre]", required)
      each genre in ['FIGHTING', 'SPORTS', 'PUZZLE', 'ARCADE', 'PLATFORMER', 'OTHER']

        option(value=genre, selected=(arcadeGame && arcadeGame.genre === genre))
          = genre.toLowerCase()
  
  .form-group
    button.btn.btn-dark(type="submit") Submit