extends ../layouts/main.pug
block content
  .container
    header
      h1= arcadeGame.title
      small= arcadeGame.genre.toLowerCase()

    div
      = arcadeGame.description || "Your story is processing..."

